<header class="header-global">
   
    <a href="/" class="shop-link text-link">{{'general.header.nav.shop' | t}}</a>

    <a href="/" class="logo shop-link">
      <img src="{{'logo.svg' |  asset_url}}" alt="{{'general.shop.title' | t}}" width="" height="" />
    </a>
    
    {%  assign cart_text ='general.cart.button.count_html' | t: itemCount: cart.item_count  %}
    {% assign cart_close_text ='general.cart.button.close' | t %}
    
   
    <a href="/cart" class="shop-link cart-link text-link">{{cart_text}} </a>
    


    {% comment %} <a href="/cart">cart</a>
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="/account">account</a>
        {{'log out' | customer_logout_link}}
      {% else %}
        {{ 'log in' |  customer_login_link}}
        {{ 'register' | customer_register_link}}
      {% endif %}
    {% endif %} {% endcomment %}
    
</header>