<div class="product-card">
    <div class="card-info">
        <div>
            {{- product.title | link_to: product.url }}
            <span class="price"> {{- product.price | money_without_trailing_zeros }}</span>

        </div>

        <p>
            {{- product.description | strip_html | split:'.' | first | append: '.'}}
        </p>

        {% if product.variants.size >= 1 %}
        {{'general.product.card.options' | t: optionCount: product.variants.size}} &ndash;
        {% endif %}

        {% if product.available %}
        <a href="{{product.url}}">{{'general.product.card.more_info' | t}}</a>
        {% else %}
        <span class="price"> <br><strong>{{'general.product.form.sold_out' | t}}</strong> </span>
        {% endif %}
    </div>

    <div class="card-image">
        <a href="{{product.url |  within: collection}}">
            <img src="{{ product.featured_image |  image_url  }}" alt="{{product.featured_image.alt | escape}}"
                width="1200px" height="900px" />
        </a>
    </div>

</div>