{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
 
<div id="page-product" class="wrapper grid two-columns collapse product-card">
  <div class="product-info product-info-section">
    <h1 class="product-title">
      {{ product.title }}
      <span class="price"> {{- product.price | money_without_trailing_zeros }}</span>
    </h1>

    <div class="below-title">
      <div>{{ product.description }}</div>
      {% render 'add-to-cart-form' with product as product %}
    </div>

  </div>

  {% for image in product.images %}
  <div class="product-image card-image">
    <img src="{{ image.src | image_url}}" alt="{{ image.alt | escape }}" width="" height=""
      alt="{image.alt | escape}">
  </div>
  {% endfor %}
</div>



